@charset 'utf-8';

//Vendor
@import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Components
@import "components/__components-dir";

//Layout
@import "layouts/__layouts-dir";

@import "pages/_pages-dir";

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html, body, #app, #root, .App, #app>div , .Mui-root{
    height: 100%;
    font-family: $font-base;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.192);        
    width: 100%;
}

*::-webkit-scrollbar-thumb {
background-color: $color-primary;    
border-radius: 20px;       
height: 5px;
}