.category-list-page{
    background-color: $color-light-grey;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    $side-padding: 50px;
    overflow-y: auto;

    .category-list-item{
        
    }
}