.page-home{
    background-color: $color-light-grey;
    height: 100% !important;
    overflow-y: auto;
    
    .header{
        padding-top: 120px;
        padding-bottom: 70px;
        width: 100%;
        background-image: url("../../images/mainbg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -70px;
        min-height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 50px;
        display: none !important;
        
        h1{
            color: white;
            margin: 6px 0;
            text-transform: uppercase;
        }

        p{
            color: $color-light;
            max-width: 40%;
            margin: 6px 0;
        }

        .actions{
            margin-top: 6px;
        }
    }

        .home-banner{
           width: calc(100%);
           height: 500px !important;
           height: auto;
           position: relative;

           
           .slider-wrapper{
               width: 100%;
               height: 100%;
               position: absolute;
               left: 0;
               top: 0;
               z-index: 33;
               
               
               
               .thumbnails{
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 550;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                box-sizing: border-box;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) -40%, rgba(0,0,0,0) 100%);

                .thumbnail-list-item{
                    min-height: 40px;
                    box-sizing: border-box;
                    margin: 0 15px;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    h1{
                        margin: 0;
                        font-size: 18px;
                        transition: all 300ms ease-in-out;

                    }
                    
                    &.active{
                        h1{
                            font-size: 25px;
                        }
                        border-bottom: 2px solid $color-secondary;
                    }
                }

            }
           }

           .slider{
               width: 100%;
           }

           .slider-item{
               width: 100%;
               height: 500px;
               position: relative;
               
               .content{

                   position: relative;

                   .info{
                    //    background-color: red;
                    height: 100%;
                    width: 45%;
                    position: absolute;
                    z-index: 500;
                    padding: 25px;
                    padding-top: 80px;
                       background: rgb(0,0,0);
                       background: linear-gradient(105deg, rgba(0, 0, 0, 1) -13% , rgba(0,0,0,0) 70%);
                       a{
                           text-decoration: none;
                           color: white;

                           h1{
                               transition: all 300ms ease-in-out;
                               width: 100% ;
                               font-size: 30px;
                               margin-left: 15px;
                               margin-right: 15px;

                               &:hover{
                                   font-size: 50px;
                               }
                           }
                       }

                       .watch-pill{
                           background: rgba($color: #252525, $alpha: .90);
                           border-radius: 25px;
                           display: flex;
                           flex-direction: row;
                           justify-content: space-around;
                           align-items: center;
                           width: 180px;

                           .play-button{
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               margin: 5px;
                               height: 25px;
                               width: 25px;
                               padding: 10px;
                               border-radius: 50px;
                               color: white;
                               background: linear-gradient(150deg, $color-primary 35%, $color-secondary 100%);
                               cursor: pointer;
                               transition: background 300ms ease-in-out;

                               &:hover{
                                //    background: $color-secondary;
                               }
                           }

                           h2{
                               margin: 0 5px;
                               margin-right: 10px;
                               font-size: 17px;
                               color: white;
                           }
                       }
                   }
                   
                   img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                   }
               }
           }
        }
}

@media only screen and (min-width: 1000px) {

    .page-home{
        .home-banner{
            .slider-wrapper{
                // width: 100%;
            }
        }
    }
}

