.app-wrapper{
    background-color: $box-color3;
    height: 100%;
    overflow: auto;

    .inner{
        display: flex;
        flex-direction: row;
        height: calc(100% - 60px);
        position: relative;

        .page-wrapper{
            width: calc(100% - 500px);
        }
        
    }
}

@media only screen and (max-width: 700px) {
    .app-wrapper{
        background-color: $box-color3;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
    
        .inner{
            display: flex;
            flex-direction: row;
            height: calc(100% - 90px);
            position: relative;
            box-sizing: border-box;
    
            .page-wrapper{
                width: calc(100%);
            }
            
        }
    }
}