.mawahib{
    &-form-control{
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        label{
            font-family: $font-base;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 15px;
        }

        input[type=text], textarea{
            background-color: $box-color2;
            border: 1px solid $text-color2;
            border-radius: 6px;
            font-size: 16px;
            padding: 5px 10px;
            outline: none;
            color: $text-color2;

            &:focus{
                border-color: $color-secondary;
            }
        }

        &.error-active{
            input[type=text], textarea{
                border-color: $danger;
            }

            .mawahib-select-input{
                border-color: $danger;
            }
        }

    }

    &-select-input{

        min-width: 150px;
        border: 1px solid $text-color2;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        user-select: none;
        color: $text-color2;
        position: relative;

        &:focus{
            border-color: $color-secondary;
            ul{
                display: flex;
            }
        }

        div.image{
            width: 30px;
            height: 30px;
            background-color: #9C9C9C;
            border-radius: 50%;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        p{
            margin: 0;
            font-family: $font-medium;
            font-size: 14px;
            color: $text-color;
        }

        ul{
            display: none;
            // display: flex;
            position: absolute;
            top: 100%;
            z-index: 500;
            padding: 0;
            list-style: none;
            flex-direction: column;
            border-radius: 6px;
            border: 1px solid $color-secondary;
            left: 0;
            width: 100%;
            // padding: 5px;
            box-sizing: border-box;
            max-height: 300px;
            overflow: auto;
            background-color: $box-color2;

            li{
                user-select: none;
                box-sizing: border-box;
                width: 100%;
                min-height: 30px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 5px 10px;

                img{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                div.image{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #9C9C9C;
                }

                p{
                    color: $text-color2;
                    margin-left: 15px;
                }

                &:hover{
                    background-color: $box-color;
                }
            }
        }
    }

    &-input-drop-zone{

        input {
            display: none;
        }



        .placeholder, .image{
            width: 170px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color2;
            border: 1px solid $text-color2;
            border-radius: 6px;
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover{
                border-color: $color-secondary;
                color: $color-secondary;
            }
        }
    }

    &-radio-input{
        min-width: 15px;

        .radio-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1rem;
            margin: 15px 0;
            cursor: pointer;
            
            .icon{
                color: $text-color2;
            }

            &.active{
                p{
                    color: $color-secondary;
                }

                .item-circle{
                    .inner-circle{
                        display: block;
                    }
                }
            }

            &:first-child{
                margin-top: 0;
            }

            &>*{
                margin: 0 5px;
            }

            .item-circle{
                min-width: 16px;
                min-height: 16px;
                width: 16px !important;
                height: 16px !important;
                border: 1px solid $text-color2;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .inner-circle{
                    display: none;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-secondary;
                }
            }

            p{
                color: $text-color;
                font-size: 16px;
            }

            .icon{
                font-size: 15px;
                margin-bottom: 10px;
            }

            span{
                white-space: pre-line;
            }
            
        }
    }

    &-tag-input{
        border: 1px solid $text-color2;
        border-radius: 6px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 80%;
        // width: 70%;
        max-width: calc(70%);
        width: auto;

        .tag{
            background-color: $box-color;
            font-size: 16px;
            color: $text-color;
            padding: 5px 10px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 5px;

            .icon{
                color: $text-color2;
                margin-left: 10px;
                cursor: pointer;
            }
        }

        input[type=text]{
            border: none;
        }
    }

    &-switch-input{
        border-radius: 6px;
        border: 1px solid $text-color2;
        padding: 10px 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        label{
            font-size: 16px;
            font-family: $font-base;
            color: $text-color2;
        }

        .switch{
            background-color: $box-color;
            width: 40px;
            height: 20px;
            border-radius: 15px;
            position: relative;
            transition: all 300ms ease-in-out;
            
            .circle{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $text-color;
                position: absolute;
                top: 2.5px;
                left: 2px;
                transition: all 300ms ease-in-out;
            }

            &.active{
                background-color: $color-secondary;

                .circle{
                    left: 22px;
                }
            }
        }
    }

    &-video-drop-zone-input{

        input[type=file]{
            display: none;
        }

        .preview{
            
            video{
                object-fit: cover;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

        .placeholder{
            border-radius: 6px;
            width: 170px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $text-color2;
            color: $text-color2;
            cursor: pointer;

            &:hover{
                color: $color-secondary;
                border-color: $color-secondary;
            }
        }

        &.error-active .placeholder{
            border-color: $danger;
        }
    }


}

.info-container-content{
    background-color: $box-color !important;
    border: unset !important;
    color: $text-color2;
    font-size: 14px;
    width: auto !important;
    // min-width: 0et;
    max-width: 500px;
    white-space: pre-line;

    .popup-arrow{
        color: $box-color !important;
        fill: $box-color !important;
        stroke: $box-color !important;
    }
}