h1{
    font-family: $font-bold;
    font-size: 28px;
    margin: 0;
}

h2{
    font-family: $font-medium;
    font-size: 24px;
    margin: 0;
}

h3{
    font-family: $font-medium;
    font-size: 16px;
    margin: 0;
}

h4{
    font-family: $font-base;
    font-size: 12px;
    margin: 0;
}

.text{

    &.f-14{
        font-size: 14px;
    }

    &.f-16{
        font-size: 16px;
    }

    &.c-1{
        color: $text-color;
    }

    &.c-2{
        color: $text-color2;
    }

    &.f-base{
        font-family: $font-base;
    }

    &.f-medium{
        font-family: $font-medium;
    }

    &.f-bold{
        font-family: $font-bold;
    }
}