.page-video{
    $page-horizontal-padding: 50px;

    &-listing{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        box-sizing: border-box;


        header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px $page-horizontal-padding;
            box-sizing: border-box;

            h1{
                margin: 0;
                color: $text-color;
                font-size: 24px;
                font-family: $font-bold;
            }
        }

        hr{
            width: 100%;
            margin: 0;
        }

        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;

            table{
                width: 100%;
                max-width: 800px;
                border-collapse: collapse;

                thead{
                    tr td{
                        border-bottom: 1px solid $text-color2;
                        padding: 5px 0;
                    }
                }

                tbody{
                    tr{
                        td{ 
                            padding: 10px 0;
                        }

                        td.video{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: center;
                            width: 300px;
                            
                            img{
                                width: 170px;
                                height: 90px;
                                object-fit: cover;
                            }

                            .info{
                                margin-left: 15px;
                                width: calc(100% - 185px);

                                .title{
                                    margin: 0;
                                    color: $text-color;
                                    font-family: $font-medium;
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }

                                .date{
                                    margin: 0;
                                    color: $text-color2;
                                    font-family: $font-base;
                                    font-size: 14px;
                                }
                            }
                        }

                        td.visibility{
                            .icon-ize{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;

                                .icon{
                                    color: $text-color2;

                                    &.active{
                                        color: $color-secondary;
                                    }
                                }

                                p{
                                    margin: 0;
                                    margin-left: 15px;
                                    font-family: $font-medium;
                                    font-size: 16px;
                                    color: $text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    &-upload{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: auto;


        header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px $page-horizontal-padding;
            box-sizing: border-box;

            h1{
                margin: 0;
                color: $text-color;
                font-size: 24px;
                font-family: $font-bold;
            }
        }

        .event-submission-notification{
            width: 100%;
            box-sizing: border-box;
            padding: 0 $page-horizontal-padding;
        }

        main{
            width: 100%;
            padding: 20px 40px;
            box-sizing: border-box;
            display: flex;

            .s1{
                width: 70%;
            }
            .s2{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .video-preview{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .placeholder{
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .bottom-section{
                        background-color: $box-color;
                        width: 100%;
                        border-bottom-left-radius: 6px;
                        border-bottom-right-radius: 6px;

                        p{
                            color: $text-color;
                            width: 100%;
                            padding: 0 5px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-size: 16px;
                            max-width: 160px;
                            margin-bottom: 5px;

                            &.channel-name{
                                font-size: 12px;
                                color: $color-secondary;
                                margin-top: 0;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        hr{
            width: 100%;
            margin: 0;
        }
    }
}