.channel-view-page{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // padding: 20px;
    box-sizing: border-box;
    
    header{
        width: 100%;
        background-color: $box-color2;

        .cover{
            height: 290px;
            width: 100%;
            object-fit: cover;
        }

        .info{
            padding: 20px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .l{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 2px solid $color-secondary;
                    margin-right: 15px;
                }

                .channel-category{
                    margin: 0;
                    color: $text-color2;
                    font-size: 12px;
                    font-family: $font-base;
                }

                .title{
                    margin: 0;
                    color: $color-secondary;
                    font-family: $font-bold;
                    font-size: 28px;

                    .icon{
                        margin-left: 5px;
                    }
                }

                .more{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;

                    span{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        margin-right: 20px;
                        font-size: 12px;
                        font-family: $font-base;
                        color: $text-color2;

                        p{
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .r{
                

                .edit-btn{
                    background-color: $color-secondary;
                    padding: 5px 20px;
                    font-size: 16px;
                    font-family: $font-base;
                    text-transform: capitalize;
                    color: $text-color;
                    border-radius: 7px;

                    .icon{
                        margin-right: 10px;
                    }
                }

                .controls{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .icon-btn{
                        color: $text-color2;
                        font-size: 25px;
                        text-transform: capitalize;
                        font-family: $font-base;
                        margin-left: 10px;
                    }

                    .btn-outlined{
                        border: 1px solid $text-color2;
                        border-radius: 7px;
                        padding: 5px 20px;
                        color: $text-color2;
                        font-size: 16px;
                        text-transform: capitalize;
                        font-family: $font-base;
                        
                        &.secondary{
                            border-color: $color-secondary;
                            color: $color-secondary;
                        }
                    }
                }
            }
        }

        .bottom{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .top-fans{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 500px;
                margin-right: 25px;

                .title{
                    font-size: 12px;
                    color: $text-color2;
                    margin: 0;
                    font-family: $font-base;
                }

                &-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    background-color: $box-color3;
                    border-radius: 8px;
                    padding: 5px 20px;
                    box-sizing: border-box;
                    margin: 10px 0;

                    &-item{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 33%;

                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        p{
                            margin: 0;
                            margin-left: 5px;
                            font-size: 12px;
                            font-family: $font-base;
                            color: $text-color2;
                            max-width: 50%;
                            width: 50%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .channel-tabs-header{
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .titles{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                h1{
                    margin: 0 5px;
                    font-size: 16px;
                    font-family: $font-bold;
                    color: $text-color2;
                    margin: 5px 15px;
                    transition: all 300ms ease-in-out;
                    user-select: none;
                    cursor: pointer;
                    
                    &.active{
                        color: $color-secondary;
                    }
                }
            }

            .bottom-bar{
                width: 50px;
                background-color: $color-secondary;
                height: 3px;
                position: absolute;
                top: 5px;
                left: 0;
                z-index: 5;
                border-radius: 5px;
                transition: all 300ms ease-in-out;
            }
        }
    }

    main{
        margin: 0;
        padding: 10px 20px;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        
        .tab-content{
            display: none;
            animation: 2s tab-out ease-in-out;
            width: 100%;

            .channel-description{

            }

            &.active{
                display: flex;
                width: 100%;
                margin-top: 20px;
                animation: 2s tab-in ease-in-out;
            }

            .channel-home{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                
                .latest-releases{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    
                    h1{
                        color: $text-color;
                        font-family: $font-medium;
                        font-size: 28px;
                        font-weight: normal;
                        margin: 0;
                    }
                    
                    &-video-list{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                }

                .channel-uploads{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: 15px;

                    .titles{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        h1{
                            font-weight: normal;
                            color: $text-color;
                            font-family: $font-medium;
                            font-size: 28px;
                            margin: 0;
                            margin-right: 15px;
                        }

                        .tab-titles{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-end;
                            position: relative;

                            p{
                                margin: 0 5px;
                                font-size: 16px;
                                font-family: $font-medium;
                                color: $text-color2;
                                
                                &.active{
                                    color: $color-secondary;
                                    font-family: $font-bold;
                                    font-size: 16px;
                                }
                            }

                            .tabs-bottom-line{
                                width: 50px;
                                height: 2px;
                                background-color: $color-secondary;
                                position: absolute;
                                transition: all 300ms ease-in-out;
                            }
                        }
                    }
                    
                    .uploads-tab-content{
                        width: 100%;

                        .channel-upload-tab{
                            display: none;
                            animation: 2s tab-out ease-in-out;
                            width: 100%;
                            
                            .video-list{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                            }
                            
                            
                            &.active{
                                display: flex;
                                width: 100%;
                                margin-top: 20px;
                                animation: 2s tab-in ease-in-out;
                            }

                            .progress{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 100%;

                                .circle{
                                    color: $color-secondary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}