
.events-page{

    &.home{
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20px 30px;
        padding-right: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .upcoming-event-list, .ongoing-event-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100% !important;
            margin-bottom: 50px;

            .title{
                margin: 0;
                color: $text-color;
                font-size: 28px;
                font-weight: normal;
                font-family: $font-bold;
            }

            .upcoming-event-item-list, .ongoing-event-item-list{
                width: 100%;
            }

            .swiper-container{
                width: 100%;
                position: relative;
                overflow: hidden;
                height: 330px;
                margin-top: 15px;
            }

            .swiper-wrapper{
                align-items: center;
            }

            .slider-wrapper{
                width: 1600px;
                position: absolute;
                // height: 600px;


                .slide{
                    width: 500px;
                    height: 280px;
                    user-select: none;
                    transition: all 300ms ease-in-out;
                    //   width: 500px;

                      &.swiper-slide-active{
                          width: 590px !important;
                          height: 334px;
                      }

                    .event-card{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        border-radius: 20px;
                        overflow: hidden;
                        cursor: pointer;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .info{
                            width: 100%;
                            box-sizing: border-box;
                            background: rgb(0,0,0);
                            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(160,160,160,0) 100%);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding: 10px 20px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            .category{
                                font-family: $font-base;
                                font-size: 16px;
                                color: $text-color;
                                margin: 0;
                                font-weight: normal;
                            }

                            .title{
                                font-size: 28px;
                                font-family: $font-bold;
                                color: $text-color;
                            }

                            .btn{
                                color: $text-color;
                                border-radius: 7px;
                                font-size: 14px !important;
                                font-family: $font-base;
                                font-weight: normal;
                                text-transform: capitalize;
                                padding: 8px 20px;
                                background: transparent linear-gradient(175deg, var(--color-3) 0%, var(--color-2) 100%) 0% 0% no-repeat padding-box;
                                background: transparent linear-gradient(175deg, #4BBEB6 0%, #006896 100%) 0% 0% no-repeat padding-box;

                                &.disabled{
                                    background: #707070;
                                }
                            }
                        }
                    }
                }
            }
        }

        .event-category-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            // overflow: auto;
            // overflow-x: auto;
            // overflow-y: visible;

            .title{
                margin: 0;
                color: $text-color;
                font-size: 28px;
                font-weight: normal;
                font-family: $font-bold;
            }

            .category-item-list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 20px 0;
                overflow: auto;

                .category-list-item{
                    display: block;
                    height: 190px;
                    min-width: 145px;
                    width: 145px;

                    border: 3px solid $color-secondary;
                    border-radius: 11px;
                    margin-right: 25px;
                    user-select: none;
                    overflow: hidden;
                    cursor: pointer;
                    box-shadow: 1px 2px 20px -1px rgba($color-secondary, .35);
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .info{
                        width: 100%;
                        height: 30%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin: 0;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-end;
                        background: rgb(0,0,0);
                        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(160,160,160,0) 100%);

                        p{
                            margin: 0;
                            font-family: $font-medium;
                            color: $text-color;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/*=============================================SINGLE EVENT PAGE==============================*/
.event-page{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    header{
        width: 100%;
        height: 80% !important;
        min-height: 60%;
        position: relative;

        .submission-player{
            height: 100%;
            width: 100%;
            position: relative;

            .close-btn{
                position: absolute;
                right: 25px;
                top: 25px;
                z-index: 999;
                background-color: rgba($color: #000000, $alpha: .25);
                .icon{
                    color: white;
                }
            }

            .player-wrapper{
                height: 100%;
                max-height: 100%;

                .video-player{
                    width: 100%;
                    height: 100%;
                    padding: 0 !important;
                }
            }
        }
        
        .cover{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 200px;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(160,160,160,0) 100%);
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 20px;
            box-sizing: border-box;

            .event-inner-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .badge{
                    padding: 5px 10px;
                    margin: 0;
                    background-color: $color-secondary;
                    border-radius: 5px;
                    font-size: 12px;
                    color: black;
                    font-family: $font-base;
                }

                .timer-title{
                    margin: 0;
                    font-family: $font-medium;
                    color: $text-color;
                    font-size: 16px;
                }

                .count-down-timer{
                    display: flex;
                    flex-direction: row;

                    .block{
                        width: 60px;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        // padding: 5px;
                        background-color: $box-color;
                        border: 2px solid $color-secondary;
                        border-radius: 10px;
                        margin-right: 10px;

                        span{
                            font-family: $font-bold;
                            font-size: 28px;
                            color: $color-secondary;
                            line-height: 1.2em;
                        }

                        p{
                            margin: 0;
                            line-height: 2px;
                            font-size: 11px;
                            color: $text-color;
                        }
                    }
                }
            }
        }
    }

    .action-box{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        @include init-flex(row, space-between, center);

        .l{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img{
                width:  70px;
                height: 70px;
                border: 2px solid $color-secondary;
                border-radius: 50%;
                object-fit: cover;
            }

            .info{
                @include init-flex(column, flex-start, flex-start);
                margin-left: 15px;

                .category{
                    margin: 0;
                    font-size: 12px;
                    font-family: $font-base;
                    color: $text-color2;
                }

                .title{
                    margin: 0;
                    font-size: 28px;
                    color: $color-secondary;
                    font-family: $font-bold;
                }

                .icons{
                    @include init-flex(row, flex-start, flex-start);
                    color: $text-color2;

                        span{
                            @include init-flex(row, flex-start, center);
                            margin-right: 15px;
                            p{
                                margin: 0;
                                margin-left: 10px;
                            }
                        }
                }
            }
        }

        .r{
            @include init-flex(row, space-between, center);

            .btn{
                background: linear-gradient(175deg, #4BBEB6 0%, #006896 100%) 0% 0% no-repeat padding-box;
                color: $text-color;
                margin: 0 5px;
                padding: 5px 20px !important;
                font-size: 14px;
                font-weight: normal;
                font-family: $font-base !important;
                text-transform: capitalize;
                border-radius: 7px;

                &.transparent{
                    background: none !important;
                    color: $text-color2;

                    .icon{
                        margin-right: 5px;
                    }
                }

                &.disabled{
                    background: #707070;
                }
            }

            .vr{
                background-color: $text-color2;
                height: 35px;
                width: 2px;
                opacity: .7;
                margin: 0 10px;
            }
        }

        
    }

    @mixin event-performances(){
        .event-performances{
            width: 100%;
            @include init-flex(column, flex-start, flex-start);
            
            .tabs-titles{
                width: 100%;
                @include init-flex(row, flex-start, flex-start);
                position: relative;

                p{
                    margin: 0;
                    font-size: 16px;
                    font-family: $font-medium;
                    color: $text-color;
                    margin-right: 15px;
                    transition: all 300ms ease-in-out;
                    user-select: none;
                    cursor: pointer;

                    &.active{
                        color: $color-secondary;
                        font-family: $font-bold;
                    }
                }

                .bottom-line{
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    background-color: $color-secondary;
                    border-radius: 50%;
                    transition: all 300ms ease-in-out;
                }
            }
            
            &-tab-contents{
                width: 100%;
                padding-top: 15px;

                .event-performances-tab-content{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    
                    .submission-list-item{
                        position: relative;
                        overflow: hidden;
                        margin-right: 20px;
                        user-select: none;
                        cursor: pointer;
                        
                        
                        img{
                            border-radius: 8px;
                            width: 190px;
                            height: 100px;
                            object-fit: cover;
                        }

                        .info{
                            width: 100%;
                            @include init-flex(row, space-between);

                            .l{
                                p{
                                    margin: 0;

                                    &:first-child{
                                         font-size: 12px;
                                         color: $text-color;
                                    }

                                    &:last-child{
                                        font-size: 10px;
                                        color: $color-secondary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .event-tabs{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        @include init-flex(column, space-between, center);

        .tool-bar{
            @include init-flex(row, space-between, center);
            background-color: $color-primary;
            width: 100%;
            padding: 15px 25px;
            box-sizing: border-box;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            
            .event-tabs-buttons{
                @include init-flex(row, space-between, center);
                // max-width: 500px;
                
                .tab-title{
                    padding: 10px 10px;
                    color: $text-color;
                    font-family: $font-medium;
                    font-size: 16px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    margin: 0 5px;
    
                    &.active{
                        font-family: $font-bold;
                        background-color: $box-color;
                    }
                }
            }

            .search-box{
                background-color: $box-color2;
                border-radius: 10px;
                height: 40px;
                min-width: 200px;
                width: 300px;
                @include init-flex(row, flex-start, center);
                overflow: hidden;
                
                input[type=text]{
                    background-color: none;
                    background: none;
                    border: none;
                    outline: none;
                    width: 80%;
                    padding: 5px 12px;
                    box-sizing: border-box;
                }

                .btn{
                    width: 20%;
                    color: $text-color2;
                    border-left: 1px solid $text-color2;
                    height: 100%;
                }
            }
        }

        .tabs-contents{
            padding: 15px 25px;
            box-sizing: border-box;
            min-height: 150px;
            width: 100%;
            background-color: $box-color;
            display: flex;
            transition: all 300ms ease-in-out;
            @include init-flex(row, flex-start, flex-start);

            .tab-content{
                display: none;
                animation: 2s tab-out ease-in-out;
                width: 100%;
                
    
                &.active{
                    display: flex;
                    width: 100%;
                    // margin-top: 20px;
                    animation: 2s tab-in ease-in-out;
                }

                @include event-performances();

                .info{
                    width: 100%;
                    p{
                        color: $text-color;
                        font-size: 16px;
                        font-family: $font-base;
                    }

                    h1, h2, h3, h4,h5, h6{
                        color: $color-secondary;
                        text-transform: capitalize;
                        font-size: 16px;
                        font-family: $font-bold;
                    }

                    .rewards{
                        width: 100%;
                        @include init-flex(row, space-between, center);
                        margin-top: 30px;

                        .reward{
                            @include init-flex(column, center, center);
                            img{
                                width: 200px;
                            }
                            p{
                                font-size: 24px;
                                font-family: $font-medium;
                                margin: 15px;
                            }
                        }
                    }
                }

                .participants{
                    width: 100%;
                    @include init-flex(row, flex-start, flex-start);
                    flex-wrap: wrap;
                    
                    .participant{
                        @include init-flex(column);
                        cursor: pointer;
                        margin: 0 15px;
                        img{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }

                        p{
                            margin: 5px;
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

.participate-dialog{

    .dialog-content{
        @include init-flex(column, center, center);
        color: $text-color !important;
        height: auto;
        padding: 5px;
        padding-top: 15px;

        p{
            margin: 0;
            font-size: 14px;
            font-family: $font-medium;
            margin-bottom: 10px;
        }

        small{
            font-size: 12px;
            font-family: $font-base;

            a{
                color: $color-secondary;
            }
        }
    }

    .dialog-actions{
        @include init-flex(row, center, center);

        .btn{
            background: linear-gradient(175deg, #4BBEB6 0%, #006896 100%) 0% 0% no-repeat padding-box;
            color: $text-color;
            margin: 0 5px;
            padding: 5px 50px !important;
            font-size: 14px;
            font-weight: normal;
            font-family: $font-base !important;
            text-transform: capitalize;
            border-radius: 7px;

            &.outlined{
                background: none;
                border: 1px solid $text-color2;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .events-page.home{
        
        .ongoing-event-list{
            margin-top: 50px;
        }

        .upcoming-event-list, .ongoing-event-list{
            height: calc(80vw / 1.7);
            margin-bottom: 100px;
            
            .slider-wrapper {
                height: calc(80vw / 1.7);

                .slide{
                    width: 60vw;
                    height: calc(60vw / 1.7);
                    
                    &.swiper-slide-active{
                        width: 80vw !important;
                        height: calc(80vw / 1.7);
                    }

                    .event-card{
                        .info{
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            background: black;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 60%, rgba(160, 160, 160, 0) 90%);

                            .l{
                                .category{
                                    font-size: 10px !important;
                                }

                                .title{
                                    font-size: 16px;
                                }
                            }

                            .r button{
                                font-size: 12px !important;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}