.events-page{

    &.home{
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .event-category-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            overflow: auto;

            .title{
                margin: 0;
                color: $text-color;
                font-size: 28px;
                font-weight: normal;
                font-family: $font-bold;
            }

            .category-item-list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 20px 0;

                .category-list-item{
                    height: 190px;
                    width: 145px;
                    border: 3px solid $color-secondary;
                    border-radius: 11px;
                    margin-right: 25px;
                    user-select: none;
                    overflow: hidden;
                    cursor: pointer;
                    box-shadow: 1px 2px 20px -1px rgba($color-secondary, .35);
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .info{
                        width: 100%;
                        height: 30%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin: 0;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-end;
                        background: rgb(0,0,0);
                        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(160,160,160,0) 100%);

                        p{
                            margin: 0;
                            font-family: $font-medium;
                            color: $text-color;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}