$body-color: rgb(37,40,53);
$box-color: #1F1D2A;
$box-color2: #21242D;
$text-color: #FFFFFF;
$text-color2: #9C9C9C;
$color-primary: #006896;
$color-secondary: #4BBEB6;

$font-base: Poppins;
$font-bold: Poppins-bold;
$font-medium: Poppins-medium;
$font-black: Poppins-black;
$font-italic: Poppins-italic;
$font-thin: Poppins-thin;
$font-light: Poppins-light;